 .home {
     padding: 0 2rem;
 }

 .body-content {
     display: grid;
     grid-template-columns: 50% 40%;
     grid-gap: 10%;
     align-content: center;
     justify-content: center;
     align-items: center;
     padding: 2rem 10%;
 }



 .body-text {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
 }



 .body-content img {
     width: 70%
 }

 .tags {
     display: grid;
     grid-template-columns: 30% 30% 30%;
     grid-gap: 10%;
     align-content: center;
     justify-content: center;
     align-items: center;
     padding: 2rem 10%;
 }

 .how-content .tags article {
     text-align: center;
 }

 .how-content .tags article img {
     width: 3rem;
     margin-bottom: 1rem;
 }

 .how-content .tags article h5 {
     font-size: 14px;
 }

 .how-content .tags article p {
     font-size: 12px;
 }

 .how-header {
     text-align: center;
     color: #FF7151;
 }

 .cta {
     margin-top: 2rem;
     height: 50vh;
     background: url('../assets/images/computer.png');
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     position: relative;
 }

 .overlay {
     display: flex;
     flex-direction: column;
     background-color: rgba(0, 0, 0, 0.8);
     width: 100%;
     height: 100%;
     align-content: center;
     align-items: center;
     align-self: center;
     justify-content: center;
     color: #fff;
 }

 .btn-cta {
     background: #FF7151 !important;
     margin-top: 1rem;
 }

 .nav-link {
     color: #fff !important;
 }

 .navbar-brand {
     color: #fff !important;
 }

 .pills .nav-link {
     background: #fff;
     color: #FF7151 !important;
     padding: 0.15rem 0.6rem;
     border-radius: 6px;
 }