.sidebar {
    display: grid;
    grid-template-columns: 8% 92%;
}

.ss a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.ss {
    padding: 5px;
    min-height: 1000px;
}